body
  font-size 14px
  margin 0px
  line-height 19px
  font-family 'Roboto', helvetica, arial, sans-serif
  *,
  *:before,
  *:after
    box-sizing border-box
  a
    color ColorLink
    text-decoration underline
    &:active
    &:focus
      text-decoration none
  .leaflet-control-zoom a
    text-decoration none
    color #333
  .leaflet-control-attribution a
    color #003366

  .fallback
    position absolute
    top 0px
    left 0px
    width 100%
    height 600px
    background white
    z-index 10

    div
      margin 270px 40px 0px 40px
      text-align center
      padding 20px 10px
      border 1px dotted #aaa

  #mapid
    height 90vh

  .selector
    padding: 6px 8px

  .info
    padding 6px 8px
    font 14px/16px Arial, Helvetica, sans-serif
    background white
    background rgba(255,255,255,0.8)
    box-shadow 0 0 15px rgba(0,0,0,0.2)
    border-radius 5px
    h4
      margin 0 0 5px
      color #777

  .legend
    line-height 18px
    color #555
    i
      width 18px
      height 18px
      float left
      margin-right 8px
      opacity 0.7